/*
Создал a-up, a-middle
Создал block-middle, block-down, block-info-middle, block-info-down
Создал селектор select, textarea
 */
* {
    outline: 0 !important
}

body {
    margin: 0 auto;
    text: center;
    max-width: 320px;
    background-color: #14d6c9; /* Фоновая картинка */
    background-size: cover; /* Растягиваем фон */
    font-size: 14px;
    word-wrap: break-word;
    font-family: "Palatino Linotype";
}

.block {
    background: rgb(66, 228, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-up {
    background: rgb(66, 228, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-middle {
    background: rgb(66, 228, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-down {
    background: rgb(66, 228, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-info {
    background: rgb(11, 202, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-info-up {
    background: rgb(11, 202, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-info-middle {
    background: rgb(11, 202, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-info-down {
    background: rgb(11, 202, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-header {
    background: rgb(66, 228, 255); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Palatino Linotype";

}

.a {
    padding: 10px;
    text-align: center;
    background: #0082fe;
    border: 2px solid #0060b3;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-family: "Palatino Linotype";
    margin-top: 10px;
    margin-bottom: 10px;
}

.a-down {
    padding: 20px;
    text-align: center;
    background: #0082fe;
    border: 2px solid #0060b3;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-family: "Palatino Linotype";
}

.a-middle {
    padding: 20px;
    text-align: center;
    background: #0082fe;
    border: 2px solid #0060b3;
    border-radius: 0px 0px 0px 0px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-family: "Palatino Linotype";
}

.a-up {
    padding: 20px;
    text-align: center;
    background: #0082fe;
    border: 2px solid #0060b3;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-family: "Palatino Linotype";
}

a {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #000;
}

a:visited {
    color: #000;
    text-decoration: none;
}

input[type=submit] {
    padding: 10px;
    width: 100%;
    text-align: center;
    background: #0082fe;
    border: 2px solid #0060b3;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-family: "Palatino Linotype";
    margin-top: 10px;
    margin-bottom: 10px;
}

input:hover[type=submit] {
    background: #3ebad6;
}

input:active[type=submit] {
    background: #3ebad6;
}

input[type=text] {
    background: #3ebad6;
    color: #000000;
    width: 100%;
    border: 0px;
    border-radius: 20px;
}

.chat {

}

.chat-fake-frame {
    width: 400px;
    height: 100%;
}

.avatar {
    width: 100%;
    height: 300px;
    background-origin: content-box;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

iframe {
    border-radius: 20px 20px 0 0;
    border: 0px;
    width: 100%;
}

select {
    width: 100%;
    background: #0082fe;
    border: 0px;
    border-radius: 20px;
}

textarea {
    width: 100%;
    background: #0082fe;
    color: #ffffff;
    border: 0px;
    border-radius: 20px;
}