body {
    margin: 0 auto;
    text: center;
    max-width: 320px;
    background-color: RGB(128, 128, 128); /* Фоновая картинка */
    background-size: cover; /* Растягиваем фон */
    font-size: 14px;
    word-wrap: break-word;
}

.block {
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    text-align: center;
}

.a {
    padding: 20px;
    text-align: center;
    background: #242324;
    border-top: 1px solid #1b1b1e;
    border-bottom: 1px solid #1b1b1e;
    position: relative;
    text-decoration: none;
    color: #a9a9ff;
}

a {
    color: #bbb5ff;
}

a:active {
    color: #bbb5ff;
}

a:visited {
    color: #bbb5ff;
}