
* {
    outline: 0 !important
}

body {
    margin: 0 auto;
    text: center;
    max-width: 320px;
    background-color: #D63B5E; /* Фоновая картинка */
    background-size: cover; /* Растягиваем фон */
    font-size: 14px;
    word-wrap: break-word;
    font-family: "Palatino Linotype";

}

.block {
    background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-up {
    background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-middle {
    background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-down {
    background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-info {
    background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-info-up {
    background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-info-middle {
    background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-info-down {
    background: rgba(0, 0, 0, 0.25); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    font-family: "Palatino Linotype";
}

.block-header {
    background: rgba(0, 0, 0, 0.35); /* Полупрозрачный фон */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Поля вокруг текста */
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Palatino Linotype";

}

.a {
    padding: 10px;
    text-align: center;
    background: #71245B;
    border: 1px solid #1b1b1e;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-family: "Palatino Linotype";
    margin-top: 10px;
    margin-bottom: 10px;
}

.a-down {
    padding: 20px;
    text-align: center;
    background: #71245B;
    border: 1px solid #1b1b1e;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-family: "Palatino Linotype";
}

.a-middle {
    padding: 20px;
    text-align: center;
    background: #71245B;
    border: 1px solid #1b1b1e;
    border-radius: 0px 0px 0px 0px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-family: "Palatino Linotype";
}

.a-up {
    padding: 20px;
    text-align: center;
    background: #71245B;
    border: 1px solid #1b1b1e;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-family: "Palatino Linotype";
}

a {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #000;
}

a:visited {
    color: #000;
    text-decoration: none;
}

input[type=submit] {
    width: 200px;
    height: 35px;
    color: #000000;
    background: #D63B96;
    outline: none;
    user-select: none;
    margin-bottom: 5px;
}

input:hover[type=submit] {
    background: #D63B96;
}

input:active[type=submit] {
    background: #D63B96;
}

input[type=text] {
    width: 100%;
    background: #bbb5ff;
    color: #000000;
}

.chat {

}

.avatar {
    width: 100%;
    height: 300px;
    background-origin: content-box;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

iframe {
    border-radius: 20px 20px 0 0;
    border: 0px;
    width: 100%;
}

select {
    width: 100%;
    background: #71245B;
    border: 0px;
    border-radius: 20px;
}

textarea {
    width: 100%;
    background: #71245B;
    color: #ffffff;
    border: 0px;
    border-radius: 20px;
}

/*
D63B5E-body
rgba(0, 0, 0, 0.25)-block
rgba(0, 0, 0, 0.35)-block-header
71245B-a
1px solid #1b1b1e-a::border
D63B96-input::submit
bbb5ff-input::text
 */

