body { 
	background-image: url(images/background.PNG); 
	background-repeat: no-repeat; 
	background-size: cover; 
	color: white; 
} 
.login{ 
	margin-top: 30px; 
} 
.login .card{ 
	background: rgba(0,0,0,.5); 
} 
.login input{ 
	font-size: 18px; 
	color: #fff; 
} 
.login label{ 
	font-size: 18px; 
	color: #ccc; 
}